<h1 class="heading">Beginners Run Group</h1>
<div class="row">


<div class="col-md-5">
<%= image_tag "parkrun.png", class:"parkrun"%>
</div>

<br class="clear-fix">

<div class="col-md-7">
<p class="center-text">
<% if !@text.blank?%>
<%=raw @text%>

<% end %>

</p>
</div>
</div>