<h1 class="heading">Coaches</h1>


<% if @coaches != [] %>
	
	<% @coaches.each do |coach| %>
		<div class="row">
			<% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_180,h_243,c_thumb/'%>
			<div class="col-md-3 col-sm-4">
			<%= image_tag(baseCloudinaryURL+coach.image_url, class: "coach-photos center-block", alt: "Coach", :width => 180, :height => 243, :crop => :thumb )%>
			</div>

			<div class="col-md-9 col-sm-8">
				
				<div class="history-para">
					<h4 class="montserrat gold backgroundHist"><%=coach.role%> - <%=coach.name%></h4>
					<%=raw(coach.description)%>
				</div>
			</div>
		</div>
		<br class="two-em-spaced">
	<% end %>
	

<% else %>
	<p>Page content will appear shortly</p>

<% end %>
