<h1 class="heading">University of Sheffield Athletics and XC Club</h1>


<div class="row">

<div class="col-md-6">
<a class="twitter-timeline"  href="https://twitter.com/ShefUniAC"  data-widget-id="479938177243705345">Tweets by @ShefUniAC</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="varsity-container col-md-6">
<iframe class ="varsity" src="//www.youtube.com/embed/eg74utO0CI8" frameborder="0" allowfullscreen></iframe>

<div class="home-btn-group">

<%= link_to "Sign up to the Newsletter", newsletter_path, class: "btn btn-large btn-warning newsletter-sign-up-button", "data-no-turbolink" => true %>
<%= link_to "Join our Facebook Group", "https://www.facebook.com/groups/shefuniathletics/", id:"fb-group-join", class: "btn btn-large btn-info newsletter-sign-up-button", "data-no-turbolink" => true, :target => "_blank" %>

</div>
</div>

</div>

<div class="strava-container">
<iframe class="strava" frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/125254/latest-rides/f0998676100622a97c5615b7fbfb1995081e6699?show_rides=false'></iframe>
</div>


