<h1 class="heading">Kit</h1>

<div class="kit-para"><%=raw @text%></div>

<br class="spaced">

<% if @kit_items != [] %>
<div class="row">
	<% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_180,h_243,c_thumb/'%>
	<!--For each kit item, display it-->
	<% @kit_items.each do |kit_item| %>

		<div class="col-md-4 col-sm-6 kit-img">
			<%= link_to image_tag(baseCloudinaryURL+kit_item.image_url, class: "center-block", alt: "Kit"), kit_item.url, :target => "_blank" %>
			<h4 class="montserrat"><%=kit_item.name%></h4>
		</div>


	<% end %>

</div>
<% else %>

	<p>Page content will appear shortly</p>
<% end %>


