<h1 class="heading">Membership</h1>


<div class="row">

<div class="col-md-5">

<%= image_tag "membership.png", class:"membership" %>
</div>

<div class="col-md-7">
<p class="center-text"><%=raw @text%></p>
</div>

<br class="clear">