
<h1 class="training">Training Locations</h1>

<div class="training-locations">
<!-- <iframe id="training-map" src="https://mapsengine.google.com/map/embed?mid=zqAipI02NFP4.kfnbBfldJBZo"></iframe> -->
<iframe id="training-map" src=<%=@google_maps_link %>></iframe>
</div>

<br />


<p class="lato center-text">Keep an eye on our <%= link_to "Facebook group", "https://www.facebook.com/groups/shefuniathletics/", class: "facebook-group-link" %> for last minute changes to times or locations!</p>