<h1 class="heading">Running Routes</h1>

<% if @rec_run_routes != [] %> 
	
	<% @rec_run_routes.each do |rec_run_route| %>
	<div class="rec-run-route-cont">
	<h4 class="montserrat"><%= "#{rec_run_route.name} - #{rec_run_route.distance}km - Difficulty: #{rec_run_route.difficulty}" %></h4>
	<p><%= rec_run_route.description %></p>
	
		<iframe class="rec-run-route" src=<%=rec_run_route.google_maps_link %>></iframe>
	</div>

	<% end %>


<% else %>
	<p>Running Routes will appear shortly.</p>
<% end %>