<h1 class="heading">New Run Route</h1>

<p class="center-text">Need Help? Follow this <%=link_to "guide", "https://dl.dropboxusercontent.com/u/60688295/Rec%20Runs.pdf", class:"kit-link", :target => "_blank" %></p>
<%= render 'form' %>


