// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1.heading, h1.training {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}



body {
	background: url('bg.png') top right no-repeat;
  	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
  	background-color: #131313;
  	height: 100%;
  	color: whitesmoke;

}

.standard_page {
	background: none !important;
}


.signup_cont {
	font-family: 'Montserrat', sans-serif;
	
	margin: 0 auto;
	max-width: 400px;
}

.clear {
	clear: both;
}

.spaced {
	margin-top: 3em;
}

.field_with_errors {
	background: none;
	width: 100%;
	clear: none;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
	border-color: #FF0000;

}

#error_explanation {

	background: rgba(255,255,255,0.6);

	border-radius: 0.5em;
	max-width: 400px;

	ul {
		padding-top: 10px;
	}
}

.alert {
	margin-top: 1em;
}

.training-locations {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
}


#training-map {
	height: 500px;
	width: 100%;
}

.redmires-route-cont {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#redmires-route {
	height: 300px;
	width: 100%;
}

#sport-sheffield{
	width: 70px;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 15px;
	display: inline;
	
}


#nav-top-cont {
	min-width: 269px;
	margin-top: 10px;
}

#uni {
	width: 70px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 8px;
}

h3.nav_head {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 15px;
}

h4.nav_head {

	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;

	margin-right: 15px;

}

.img-40-r {
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;

}

#user-profile-dropdown {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nav_athletics_head {
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 10px;
	display: inline;
	min-width: 149px;

}

h5.nav_fb_sign_in {
	font-family: 'Montserrat', sans-serif;
	margin-top: 18px;
}

.navbar {
	border-radius: 0px;
}

a.no-style {
	color: inherit !important;

	&:hover {
		text-decoration: none;
		background-color: transparent;
		
	}
}

a {
	&:hover {
		color: gold !important;
	}
}

#fb {
	width: 35px;
	margin-right: 15px;
	margin-top: 8px;

}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}