
<ul class="nav nav-tabs admin_dash" style="margin-bottom: 15px;">
  <li><a href="#home" data-toggle="tab">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Content Management <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Fixtures", admin_fixtures_path %></li>
      
    </ul>
  </li>
</ul>
